var/
vendor/
.idea/
.phpunit.cache/
/.idea/
/.phpunit.cache/
/.vscode/
/build/
/coverage/
/vendor/
composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
phpunit.xml
.DS_Store
/.phpunit.result.cache
/composer.lock
*.cache
*.log
*.swo
*.swp
